@mixin dark{
  color: $lightFontColor;
  background: $darkThemeBg;
}

@mixin light{
  color: $darkFontColor;
  background:$lightThemeBg;
}

@mixin noBg{
  background-color:transparent;
  background-image:none;
}

@mixin anchors{
//  font-weight: 100;
  text-decoration: none;
  outline: none;
  color: $genericAnchorColor;
  &:hover, &:focus{
    text-decoration:none;
    color:lighten($orange1, 10);
  }
}

@mixin headings{
  font-size: $headingFontSize;
  font-family: $headingFont;
  font-weight: 700;
  letter-spacing: normal;
  margin:0 0 16px;
  text-transform: none;
  @media all and(max-width:768px){
    font-size: $copyFontSize*1.25;
  }
}

@mixin headingOne{
  @include headings;
  font-size:5.075em;
  font-weight:900;
  @media all and(max-width:768px){
    font-size: $copyFontSize*1.5;
  }
}

@mixin copy{
  font-family: $copyFont;
  font-weight: 300;
  letter-spacing: 0em;
  text-transform: none;
  transition: all 450ms linear;
  @media all and(min-width:769px){
    font-size: $copyFontSize;
  }
}

@mixin lists{
  padding: .25em;
  margin: .25em auto;
  list-style:none;
}

@mixin overlay{
  background: rgba(0 ,0 ,0 , 0.75);

}

@mixin thin-film{
  background: rgba(37, 75, 128, 0.4);

}

.themed_blue{
  background: rgba(37, 75, 128, 0.4);
}

.dark{
  @include dark;
}
.light{
  @include light;
}
.noBg{
  @include noBg;
}
